<div class="uk-card uk-card-default"
     uk-sticky="sel-target: uk-navbar-container; cls-active: uk-navbar-sticky; show-on-up: true;">

  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="mode: click; boundary-align: true; align: right;">

    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a routerLink="/" uk-icon="home"><span class="uk-margin-small-left uk-visible@s">Главная</span></a>
        </li>
        <li class="uk-active">
          <a routerLink="/map" uk-icon="map"><span class="uk-margin-small-left uk-visible@s">Карта</span></a>
        </li>
      </ul>
    </div>

    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
        <li>Hello, {{title}}!</li>
      </ul>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">

        <li><a uk-icon="sign-in"> <span class="uk-visible@s">Авторизация</span></a></li>

      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
