<div class="uk-padding-small">
  <div uk-grid>
    <div class="uk-align-center uk-width-1-2@m uk-card uk-card-default uk-card-body">

      <h3 class="uk-card-title uk-text-center">Форма авторизации</h3>

      <div
        *ngIf="error"
        class="uk-text-center uk-margin"
        style="color: red"
        uk-margin
      >
        Ошибка авторизации
      </div>

      <form
        #form="ngForm"
        (ngSubmit)="handleFormSubmit(form.value)"
      >
        <div class="uk-placeholder uk-child-width-expand uk-padding-small uk-margin-remove" uk-margin>

          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input
              type="email"
              class="uk-input"
              ngModel
              name="email"
              placeholder="Введите email"
              required email
            >
          </div>

          <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input
              class="uk-input"
              type="password"
              ngModel
              name="password"
              id="password"
              placeholder="Введите пароль"
              required
              min="4"

            >
          </div>

          <div>
            <button class="uk-button uk-button-primary uk-width-expand" [disabled]="!form.valid">
              Авторизоваться
            </button>
          </div>

        </div>
      </form>

      <span *ngIf="isLoading" class="uk-text-center uk-align-center" uk-spinner="ratio: 5"></span>

    </div>
  </div>
</div>
